# --- Archives et Backups (Pour éviter votre erreur précédente) ---
*.zip
*.rar
*.7z
*.tar
*.gz
*.bak
*.old
backup/
backups/

# --- Fichiers Système (Inutiles sur le repo) ---
.DS_Store
Thumbs.db
desktop.ini

# --- Logs et fichiers temporaires ---
*.log
*.tmp
.cache/

# --- Dépendances (Si c'est un projet Node.js, Python, Unity...) ---
node_modules/
__pycache__/
others/
*.pyc
*.env
.idea/

# Autres fihiers
*.docx
*.xlsx

# Fichier de débogage
debug/